:root {
	--primarylighter: #EBC8DA;
	--primarylight: #A66186;
	--primary: #843B62;
	--primarydark: #652748;

	--darklighter: #B9B1DB;
	--darklight: #4C3D87;
	--dark: #2A1B67;
	--darker: #0B032D;
	
	--washedlighter: #EDD5E6;
	--washedlight: #98738C;
	--washed: #74546A;
	--washeddark: #4E2D43;

	--accentlighter: #FDE8E8;
	--accentlight: #F9B6B5;
	--accent: #F67E7D;
	--accentdark: #DB5E5D;

	--paperlighter: #FFF2EB;
	--paperlight: #FFDDCC;
	--paper: #FFB995;
	--paperdark: #EF8C5A;

	/* Utilities */
	--text: #444444;
	--textinfo: #666;

	--errordark: #BE2A29;
	--error: #FB6161;
	--errorlight: var(--accentlighter);

	--successdark: #23A064;
	--success: #48DE96;
	--successlight: #D4FFEB;

	--cubic: cubic-bezier(0.785, 0.135, 0.150, 0.860);
	--anim-duration: 0.4s;
	--sidebar-size: 320px;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

svg {
	max-width: 100%;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	background: #F6F6F6;
	font-family: sans-serif;
	line-height: 1.55;
}

body {
	display: flex;
	overflow-x: hidden;
}

/* Utility */
.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	overflow: hidden !important;
	white-space: nowrap !important;
}

/* Animation on SHOWING all the stuff */
.settings,
.main-actions,
.main-actions button,
.main-actions span,
.main-actions svg,
[id='toggle-settings'],
[id='toggle-settings'] svg {
	transition: all var(--anim-duration) var(--anim-duration) var(--cubic);
}

.toolbar {
	transition: all var(--anim-duration) var(--anim-duration) var(--cubic),
				margin-right var(--anim-duration) var(--cubic);
}

.main-actions button:nth-child(1) {
	transition: all var(--anim-duration) var(--anim-duration) var(--cubic),
				margin-left var(--anim-duration) var(--cubic);
}


/* Animations on HIDDING all the stuff */
.sidebar-is-hidden .settings,
.sidebar-is-hidden .main-actions,
.sidebar-is-hidden .main-actions button,
.sidebar-is-hidden .main-actions span,
.sidebar-is-hidden .main-actions svg,
.sidebar-is-hidden [id='toggle-settings'],
.sidebar-is-hidden [id='toggle-settings'] svg {
	transition: all var(--anim-duration) var(--cubic);
}

.sidebar-is-hidden .toolbar {
	transform: translateX(100%);
	transition: all var(--anim-duration) var(--cubic),
				margin-right var(--anim-duration) var(--anim-duration) var(--cubic);
	margin-right: calc(var(--sidebar-size) * -1);
}

.sidebar-is-hidden [id='toggle-settings'] {
	right: 0;
}

.sidebar-is-hidden [id='toggle-settings'] svg {
	transform: rotate(0);
}

.sidebar-is-hidden .toolbar .settings {
	opacity: 0;
}

.sidebar-is-hidden .main-actions {
	position: sticky;
	top: 80px;
	transform: translateX(-160px);
}

.sidebar-is-hidden .main-actions button {
	width: 48px;
	min-height: 48px;
	border-radius: 24px;
	padding: 8px 12px;
	transform: translateX(-32px) translateY(32px);
}

.sidebar-is-hidden .main-actions button:nth-child(1) {
	margin-left: calc(var(--sidebar-size) * -2);
	transition: all var(--anim-duration) var(--cubic),
				margin-left var(--anim-duration) var(--anim-duration) var(--cubic);
}

.sidebar-is-hidden .main-actions button:nth-child(2) {
	transform: translateX(-84px) translateY(-32px);
}

.sidebar-is-hidden .main-actions svg {
	margin: 0;
}

.sidebar-is-hidden .main-actions span {
	width: 0;
	opacity: 0;
}

a {
	font-weight: bold;
	color: var(--primary);
}

.mt-16.mt-16.mt-16 {
	margin-top: 16px;
}

.app-title,
.app-subtitle.app-subtitle {
	text-align: center;
}

.app-title {
	color: var(--primary);
}

.app-subtitle {
	margin-top: -2em;
	margin-bottom: 2em;
	font-weight: bold;
	color: var(--primarydark);
}

.toolbar {
	width: var(--sidebar-size);
	flex-shrink: 0;
	padding: 16px;
	background: white;
	z-index: 2;
	box-shadow: 0 0 32px -8px rgba(132,59,98,.15);
	text-align: center;
}

.tools {
	position: sticky;
	top: 24px;
}

.toolbar .main-actions {
	font-size: 1em;
	text-align: center;
}

.main-actions span {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.toolbar h2,
.toolbar p {
	font-size: .875em;
	text-align: left;
}

.toolbar h2 {
	display: flex;
	align-items: center;
	margin: 2em -16px 24px -16px;
	padding: 4px 16px;
	font-size: .875rem;
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--washedlight);
	white-space: nowrap;
	background: var(--paperlighter);
}

.toolbar h2::after {
	content: '';
	flex-basis: 100%;
	margin-left: 16px;
	height: 1px;
	background: var(--washed);
	opacity: .3;
}

.settings + .settings h2 {
	margin-top: 3em;
}

.toolbar .info {
	margin-top: -8px;
	color: var(--textinfo);
}

/* Toolbar Open/close button */
[id='toggle-settings'] {
	position: absolute;
	top: 24px;
	right: var(--sidebar-size);
	background: white;
	border: 0;
	padding: 8px;
	border-radius: 4px 0 0 4px;
	color: var(--washed);
}

[id='toggle-settings'] svg {
	height: 16px;
	width: 16px;
	transform: rotate(180deg);
}

form p {
	display: flex;
	align-items: center;
}


label,
.label-like {
	min-width: 96px;
	font-weight: 600;
	color: var(--washed);
	padding-right: 8px;
}

span label {
	position: relative;
	font-weight: normal;
}

[type="number"] {
	padding: 2px 0 2px 4px;
	width: 5ch;
	font-size: 1em;
}

[type="color"] {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	padding: 0;
	border: 1px solid #bbb;
	overflow: hidden;
}

[type="color"]::-webkit-color-swatch,
[type="color"]::-webkit-color-swatch-wrapper {
	width: 24px;
	height: 24px;
	padding: 0;
	border: 0;
	border-radius: 50%;
}

[type="color"]::-moz-color-swatch {
	border: 0;
}

[class^="btn-"] {
	display: inline-flex;
	align-items: center;
	padding: 8px 16px;
	min-height: 35px;
	font-weight: bold;
	font-size: 1em;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
}

[id="save"] {
	width: 96px;
}

[id="prompt"] {
	width: 116px;
}

[class^="btn-"] svg {
	margin: -4px 6px -4px -4px;
}

a,
button {
	transition: all .3s;
	cursor: pointer;
}

.btn-primary {
	color: #FFF;
	background: var(--primary);
}

.btn-primary:hover,
.btn-primary:focus {
	background: var(--primarydark);
	color: var(--paperlight);
}

.btn-secondary {
	color: var(--primary);
	background: var(--paperlight);
}

.btn-secondary:hover,
.btn-secondary:focus {
	color: var(--primarydark);
	background: var(--paper);
}

/* Editor */
.editor-container {
	flex-basis: 100%;
}

/* Messaging */
.prompto-message {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	background: rgba(255, 255, 255, .5);
	transition: all .3s ease-in-out;
}

.prompto-message div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 320px;
	max-width: 100%;
	height: 280px;
	padding: 1em;
	border-radius: 8px;
	font-size: 1.5em;
	color: var(--primarylight);
	background: white;
	transform: scale(0);
	transition: all .3s ease-in-out;
	box-shadow: 0 4px 80px -32px rgba(152, 115, 140, .8);
}

.prompto-message svg {
	width: 72px;
	height: 72px;
	margin-bottom: 16px;
}

.prompto-message path {
	stroke-width: 1.2;
}

.prompto-message.is-success path {
	animation: check 1s .2s 1 forwards ease-in-out;
	stroke-dasharray : 2px, 35;
	opacity: 0;
}

.prompto-message.is-error path:nth-child(1) {
	animation: error 1s .2s 1 forwards ease-in-out;
	transform-origin: 12px 12px;
	opacity 0;
}
.prompto-message.is-error path:nth-child(2) {
	animation: pool 1s .2s 1 forwards ease-in-out;
	opacity 0;
}
.prompto-message.is-error path:nth-child(3) {
	animation: boing 1s .2s 1 forwards linear;
	opacity 0;
}

@keyframes check {
	0% {
		stroke-dasharray : 2px, 35;
	}
	100% {
		stroke-dasharray : 56px, 35;
		opacity: 1;
	}
}

@keyframes error {
	0% {
		opacity: 0;
		transform: scale(.8);
	}
	100% {
		opacity: 1;
		transform: scale(1) rotate(0);
	}
}

@keyframes pool {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	12% {
		transform: translateY(4px);
	}
	40%, 100% {
		transform: translateY(0);
	}
}

@keyframes boing {
	0% {
		transform: translateY(-4px);
		opacity: 1;
	}
	25% {
		transform: translateY(0);
	}
	55% {
		transform: translateY(-2px);
	}
	75% {
		transform: translateY(0);
	}
	85% {
		transform: translateY(-1px);
	}
	100% {
		transform: translateY(0);
	}
}

.prompto-message div p {
	margin-bottom: 0;
	text-align: center;
	font-size: .7em;
	font-weight: normal;
	color: var(--text);
}

.prompto-message.is-error div {
	color: var(--errordark);
}

.prompto-message.is-success div {
	color: var(--successdark);
}

.prompto-message.is-visible div {
	transform: scale(1);
}

.prompto-message.is-visible {
	outline: none;
	opacity: 1;
}

.codex-editor {
	width: 90%;
	max-width: 860px;
	margin: 0 auto;
	padding: 24px;
	background: white;
	font-size: 1.2rem;
	color: var(--washed);
}

.codex-editor * {
	color: inherit;
}

.cdx-block {
	padding: .6em 0!important;
}

.ce-toolbar__actions {
	top: 16px!important;
}

.ce-block--selected .ce-block__content,
.ce-toolbar__settings-btn {
	background: var(--paperlight);
	border-radius: 4px;
}

.ce-toolbar__settings-btn {
	color: var(--primary);
}

.mode-fullscreen [class^="ce-settings__"] {
	font-size: 1rem;
}

.ct::after,
.ct::before {
	background: var(--primarydark);
}

.cdx-settings-button:hover,
.ce-settings__button:hover {
	background: var(--paperlight);
}

.ce-settings {
	background: #FFF;
	color: var(--primary);
	border-color: var(--paperlighter);
}

.mode-fullscreen [id="editorjs"] {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	overflow: auto;

	transform: var(--prompt-mirror, none);
	background: var(--prompt-bgcolor, #652748);
	color: var(--prompt-txtcolor, #F8F8F8);
}

.mode-fullscreen .codex-editor {
	max-width: none;
	width: auto;
	background: inherit;
	color: inherit;
	font-size: var( --prompt-fontsize, 3em);
	padding: 80vh 80px 80px 80px;
}

.mode-fullscreen .codex-editor .ce-block__content {
	max-width: 60ch!important;
	margin: 0 auto;
}

/* Remove remove spellcheck style on fullscreen */
.mode-fullscreen ::spelling-error {
	text-decoration: none;
}

.prompto-counter {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 240px;
	height: 240px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
	color: white;
	font-size: 120px;
	font-weight: bold;
	transform: translateX(-50%) translateY(-50%) scale(.5);
	opacity: 0;
	background: rgba(0,0,0,.9);
	z-index: 1000;
	transition: all .3s;
	border-radius: 24px;
}

.prompto-counter.is-visible {
	transform: translateX(-50%) translateY(-50%) scale(1);
	opacity: 1;
	animation: blink 1s -.2s linear infinite;
}

@keyframes blink {
	0%, 100% {
		font-size: 80px;
		color: rgba(255,255,255, 0);
	}

	10% {
		font-size: 120px;
		color: rgba(255,255,255, 1);
	}
}
