:root {
	--primarylight: #A66186;
	--primary: #843B62;
	--primarydark: #652748;

	--darker: #0B032D;
	--dark: #2A1B67;
	--darklight: #4C3D87;
	
	--washeddark: #4E2D43;
	--washed: #74546A;
	--washedlight: #98738C;

	--accentdark: #DB5E5D;
	--accent: #F67E7D;
	--accentlight: #F9B6B5;

	--paperdark: #EF8C5A;
	--paper: #FFB995;
	--paperlight: #FFDDCC;
	--paperlighter: #FFF2EB;

	--text: #444444;
	--textinfo: #666;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	background: #F6F6F6;
	font-family: sans-serif;
	line-height: 1.55;
}

body {
	display: grid;
	grid-template-columns: 1fr clamp(240px, 320px, 30%);
}

a {
	font-weight: bold;
	color: var(--primary);
}

.mt-16.mt-16.mt-16 {
	margin-top: 16px;
}

.app-title,
.app-subtitle.app-subtitle {
	text-align: center;
}

.app-title {
	color: var(--primary);
}

.app-subtitle {
	margin-top: -2em;
	margin-bottom: 2em;
	font-weight: bold;
	color: var(--primarydark);
}

.toolbar {
	padding: 16px;
	background: white;
	z-index: 2;
	box-shadow: 0 0 32px -8px rgba(132,59,98,.15);
	text-align: center;
}

.tools {
	position: sticky;
	top: 24px;
}

.toolbar .main-actions {
	font-size: 1em;
	text-align: center;
}

.toolbar h2,
.toolbar p {
	font-size: .875em;
	text-align: left;
}

.toolbar h2 {
	display: flex;
	align-items: center;
	margin: 2em -16px 24px -16px;
	padding: 4px 16px;
	font-size: .875rem;
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--washedlight);
	white-space: nowrap;
	background: var(--paperlighter);
}

.toolbar h2::after {
	content: '';
	flex-basis: 100%;
	margin-left: 16px;
	height: 1px;
	background: var(--washed);
	opacity: .3;
}

.settings + .settings h2 {
	margin-top: 3em;
}

.toolbar .info {
	margin-top: -8px;
	color: var(--textinfo);
}

form p {
	display: flex;
	align-items: center;
}


label,
.label-like {
	min-width: 96px;
	font-weight: 600;
	color: var(--washed);
	padding-right: 8px;
}

span label {
	position: relative;
	font-weight: normal;
}

[type="number"] {
	padding: 2px 0 2px 4px;
	width: 5ch;
	font-size: 1em;
}

[type="color"] {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	padding: 0;
	border: 1px solid #bbb;
	overflow: hidden;
}

[type="color"]::-webkit-color-swatch,
[type="color"]::-webkit-color-swatch-wrapper {
	width: 24px;
	height: 24px;
	padding: 0;
	border: 0;
	border-radius: 50%;
}

[type="color"]::-moz-color-swatch {
	border: 0;
}

[class^="btn-"] {
	display: inline-flex;
	align-items: center;
	padding: 8px 16px;
	font-weight: bold;
	font-size: 1em;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
}

[class^="btn-"] svg {
	margin: -4px 6px -4px -4px;
}

a,
button {
	transition: all .3s;
	cursor: pointer;
}

.btn-primary {
	color: #FFF;
	background: var(--primary);
}

.btn-primary:hover,
.btn-primary:focus {
	background: var(--primarydark);
	color: var(--paperlight);
}

.btn-secondary {
	color: var(--primary);
	background: var(--paperlight);
}

.btn-secondary:hover,
.btn-secondary:focus {
	color: var(--primarydark);
	background: var(--paper);
}

.codex-editor {
	width: 90%;
	max-width: 860px;
	margin: 0 auto;
	padding: 24px;
	background: white;
	font-size: 1.2rem;
	color: var(--washed);
}

.codex-editor * {
	color: inherit;
}

.cdx-block {
	padding: .6em 0!important;
}

.ce-toolbar__actions {
	top: 16px!important;
}

.mode-fullscreen [id="editorjs"] {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	overflow: auto;

	transform: var(--prompt-mirror, none);
	background: var(--prompt-bgcolor, #652748);
	color: var(--prompt-txtcolor, #F8F8F8);
}

.mode-fullscreen .codex-editor {
	max-width: none;
	width: auto;
	background: inherit;
	color: inherit;
	font-size: var( --prompt-fontsize, 3em);
	padding: 80px;
}

.mode-fullscreen .codex-editor .ce-block__content {
	max-width: 60ch!important;
	margin: 0 auto;
}
